.input-wrapper {
    border: 1px solid var(--autocomplete-border-color);
    background-color: white;
    border-radius: 4px;
    padding: 6px 10px;
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
    max-height: 42px;
    box-sizing: border-box;
    transition: border-color 0.25s ease-in-out;

    &:hover {
        border-color: var(--autocomplete-hover-border-color);
    }

    &.focused {
        border: 2px solid;
        border-color: var(--autocomplete-focus-border-color);
        box-shadow: none;
    }
}

.autocomplete-input {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 200;
    width: fit-content;
    max-width: 128px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    height: 36px;
    box-sizing: border-box;
    cursor: default;
    flex-grow: 1;
    border: 0;
    margin: 0;
    outline: 0;
    &::placeholder {
        font-size: 13px;
    }
}

.clear-btn {
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    align-self: center;
    padding: 0 2px;

    &:hover {
        cursor: pointer;
    }

    & > svg {
        transform: translateY(2px) scale(0.9);
    }
}

.popup-btn {
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    align-self: center;
    padding: 0 2px;

    &:hover {
        cursor: pointer;
    }

    & > svg {
        transition: transform 0.25s ease-in-out;
        transform: translateY(2px) rotate(0deg);
    }

    &.popupOpen > svg {
        transition: transform 0.25s ease-in-out;
        transform: translateY(2px) rotate(180deg);
    }
}

.autocomplete-icon-svg {
    font-weight: 900;
    color: var(--autocomplete-icon-color);
    padding: 0;

    &:hover {
        color: var(--autocomplete-hover-border-color);
    }

    &.focus {
        color: gray;
    }
}
