.autoselect-tag {
    display: flex;
    align-items: center;
    height: fit-content;
    line-height: 22px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 2px;
    box-sizing: content-box;
    padding: 0 0 0 10px;
    outline: 0;
    overflow: hidden;

    & span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & svg {
        font-size: 12px;
        cursor: pointer;
        padding: 4px;
    }
}

.close-btn {
    padding: 4px;
    margin-left: 4px;
    cursor: pointer;
    height: 100%;
    &:hover {
      border-radius: 2px;
      color: red;
      background-color: #ffb5a3;
    },
}
